//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
//script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

// App bootstrap
script(type='text/javascript', src='config.js')
script(type='text/javascript', src='application.js')

//core module
script(type='text/javascript', src='modules/core/core.client.module.js')
script(type='text/javascript', src='modules/core/config/core.client.routes.js')
script(type='text/javascript', src='modules/core/services/menus.client.service.js')
script(type='text/javascript', src='modules/core/views/core.header.client.controller.js')
//script(type='text/javascript', src='modules/core/views/home.client.controller.js')

////users module
//script(type='text/javascript', src='modules/users/users.client.module.js')
//script(type='text/javascript', src='modules/users/config/users.client.config.js')
//script(type='text/javascript', src='modules/users/config/users.client.routes.js')
//script(type='text/javascript', src='modules/users/controllers/authentication.client.controller.js')
//script(type='text/javascript', src='modules/users/controllers/password.client.controller.js')
//script(type='text/javascript', src='modules/users/controllers/settings.client.controller.js')
//script(type='text/javascript', src='modules/users/services/authentication.client.service.js')
//script(type='text/javascript', src='modules/users/services/users.client.service.js')

////d3 modules
//script(type='text/javascript', src='modules/d3/d3.js')
//script(type='text/javascript', src='modules/d3/directives/d3.barChart.client.directive.js')



if (process.env.NODE_ENV == 'development')
    //Livereload script rendered 
    script(type='text/javascript', src='http://localhost:35729/livereload.js')
