# Github Node Default

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules


# From Mean Stack
bower_components/
.DS_Store
.nodemonignore
.sass-cache/
node_modules/
public/lib
test/coverage/
migrations/
.idea/

*.local

.idea/misc.xml

.idea/modules.xml

.idea/pythiaCharts.iml

.idea/pythiaCharts.iml

.idea/pythiaCharts.iml

.idea/pythiaCharts.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/pythiaCharts.iml

.idea/encodings.xml

.idea/pythiaCharts.iml
